.data > * {
  color: white;
  font-size: 14px;
}
.data {
  margin-top: 50px;
  line-height: 5px;
  text-align: center;
  font-weight: 600;
}

.phoneDataContainer {
  text-align: center;
}

.phoneimg {
  margin-top: 35px;
}

.title {
  margin-top: 8px;
  font-size: 28px;
  color: white;
  font-weight: 600;
}

.boton {
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
  padding: 1px 4px;
  color: white;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: rgb(57, 207, 27);
}

.azul {
  background-color: rgb(126 71 149);
}
.registrado {
  margin-top: 40px;
  font-weight: 600;
  font-size: 10px;
  padding: 3px;
}
.margin{
  margin: 18px;
}
.registrado-color{
  background-color: rgb(162, 92, 197);
  border-radius: 20px;
  border-end-start-radius: 0px ;
}
.unlock {
  margin-top: 12px;
  font-size: 16px;
  height: 33px;
  padding: 6px 8px;
  border-color: rgb(126 71 149);
  border-radius: 5px;
}
.error{
  background-color: red;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 14px 6px 14px;
}

.l-rojo{
  color: red;
}

