@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.info {
  border-radius: 14px;
  text-align: center;
  margin: 6px 0px;
  font-size: 12px;
}

.phoneSelector {
  background-color: #212121;
  padding: 4px;
  margin-top: 12px;
  margin-right: 1%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.phoneSelector:focus {
  outline: none;
  border: grey 1px solid;
}

.blackText {
  color: black;
}

.footer > p {
  font-size: 10px;
  color: grey;
}
.footer {
  text-align: center;
}
